*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans, Inter, sans-serif;
}
/* header part start from here. */
header{
    width: 100vw;
    height: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 2px 0 2px 2px #f7f7f7;
    background-color: #fff;
}
.logo_course{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo>img{
    height: 25px;
}
.custom_select{
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    background-color: #cde1fd;
    cursor: pointer;
}
.course{
    width: 100px;
    border: none;
    font-size: 16px;
    background-color: #cde1fd;
    cursor: pointer;
    outline: none;
}
.right_part{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.right_part>a{
    text-decoration: none;
    color: #272526;
}
.right_part>a:hover{
    color: rgb(223, 17, 17);
}
button{
    padding: 13px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #ed0232;
    cursor: pointer;
}
button:hover{
    background-color: #d8032d;
}
/* header part end here. */


/* main part start from here. */

.first_part_container{
    width: 100%;
    border: 1px solid red;
}


/* main part end here. */