* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", "Open Sans", "Inter", sans-serif;
}
body {
  padding-top: 80px;
}
/* header part start from here. */
header {
  width: 100vw;
  height: 80px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 1px 0 1px 1px #f4eded;
}
.logo_course {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo > img {
  height: 40px;
}
.drop_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #d6e2fb;
  cursor: pointer;
}
.drop_btn>button{
  background-color: #d6e2fb;
  color: black;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.drop_btn>img{
  height: 12px;
  transform: rotate(90deg);
}

/* dropdown part start from here. */

.drop_content_container{
  position: relative;
}
.drop_menu_container{
  display: none;
}
.drop_content_container:focus-within .drop_menu_container{
  position: absolute;
  left: -55px;
  margin-top: 18px;
  width: 1260px;
  height: 400px;
  display: flex;
  padding: 15px 30px 30px 90px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #f3f1f2;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.drop_left_menu{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.drop_right_menu{
  width: 75%;
}
.drop_left{
  display: flex;
  gap: 10px;
}
.drop_left>h1{
  font-size: 14px;
  font-weight: 600;
  
}
.drop_software:hover,.drop_ai_ml:hover,.drop_data_science:hover,.drop_electronics:hover,.drop_marketing:hover,.drop_management:hover .drop_left>h1{
  
}
.drop_right>img{
  height: 10px;
}
.drop_software,.drop_ai_ml,.drop_data_science,.drop_electronics,.drop_marketing,.drop_management{
  width: 95%;
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.drop_software:hover,.drop_ai_ml:hover,.drop_data_science:hover,.drop_electronics:hover,.drop_marketing:hover,.drop_management:hover{
  background-color: #d5d5d591;
}
.drop_software:focus-within,.drop_ai_ml:focus-within,.drop_data_science:focus-within,.drop_electronics:focus-within,.drop_marketing:focus-within,.drop_management:focus-within{
  color: rgb(237, 3, 49);
  background-color: #ffeff5;
}


/* dropdown part end here. */

.right_part {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.right_part > a {
  text-decoration: none;
  color: #272526;
}
.right_part > a:hover {
  color: rgb(223, 17, 17);
}
.btn>button {
  padding: 13px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #ed0232;
  cursor: pointer;
}
.btn>button:hover {
  background-color: #d8032d;
}
/* header part end here. */

/* main part start from here. */

.first_part_container {
  max-width: 100%;
  max-height: 100%;
  padding: 0 180px;
  display: flex;
  background: linear-gradient(#fff4f6, #fefefe);
  border: none;
  outline: none;
}
.first_left_part {
  max-width: 60%;
  padding: 20px 0;
}
.first_left_part > h1 {
  color: #1d1918;
  font-size: 48px;
}
.first_left_part > h3 {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(35, 87, 137);
}
.first_left_part > h1 > span {
  color: #ba3d42;
}
.first_left_part > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  padding-right: 20px;
}

.first_left_part > ul li {
  background-image: url("Utilities/correct_icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 40px;
}
.first_left_part > ul > li > p {
  font-weight: 700;
}
.first_left_part > ul > li > p > span {
  opacity: 0.5;
}
.first_left_part > button {
  padding: 12px 20px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #ed0232;
}
.first_right_part > img {
  width: 450px;
  padding: 10px 0 0 20px;
  height: 380px;
  background-color: #e9f1f4;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  position: relative;
}
.first_part_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}
.first_left_arrow,
.first_right_arrow {
  cursor: pointer;
}
/* .first_right_part{
  width: 400px;
  padding: 10px 30px;
  height: 350px;
  background-color: #e9f1f4;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
}
.first_right_part::before{
  content: "";
  position: absolute;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: switchImage 12s  linear infinite;
}
@keyframes switchImage {
    0% {
       background-image: url("main_img_F.webp");
      }
      50%{
        background-image: url("main_img_F2.webp");
      }
    100% {
       background-image: url("main_img.webp");
     }
  } */

/* course part start form here. */

.course_container {
  width: 100%;
  max-height: 100%;
  padding: 80px 130px 50px 130px;
}
.course_container > h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 45px;
  text-align: center;
}
.course_container > h1 > span {
  color: #ba3e47;
}
.course_content {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Software part start from here. */
.software_development {
  grid-area: software_development;
  width: 25%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px;
  background-color: #ebfaf7;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}
.software_development:hover {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.img {
  padding-top: 10px;
  gap: 3px;
}
.software_development:hover .img {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.software {
  display: block;
  width: 65px;
  height: 65px;
}
.masai_one_logo {
  height: 30px;
  margin-left: 5px;
}
.software_development > h1 {
  display: flex;
  flex-direction: column;
  width: 150px;
  font-size: 21px;
  margin-top: 20px;
}
.software_development:hover > h1 {
  font-size: 34px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
.software_development > h1 > span {
  font-size: 13px;
  opacity: 0.6;
}
.software_development:hover > h1 > span {
  display: none;
}

.software_development .ul_btn_container {
  display: none;
}
.software_development:hover .ul_btn_container {
  display: block;
}
.ul_btn_container > ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul_btn_container > ul > li {
  width: 80%;
  background-image: url("Utilities/correct_icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
.btn_container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.enroll_btn {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #ed0232;
}
.software_btn_arrow {
  cursor: pointer;
  background-color: #ebfaf7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.software_btn_arrow:hover {
  background-color: rgb(249, 219, 224);
  padding-right: 10px;
  border-radius: 10px;
}
.software_btn_arrow > button {
  background-color: #ebfaf7;
  color: #c31f39;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding-left: 15px;
}
.software_btn_arrow:hover > button {
  background-color: rgb(249, 219, 224);
}
.software_btn_arrow > img {
  height: 17px;
}

/* Software part end here. */

/* Data Science part start form here. */

.data_science {
  grid-area: data_science;
  width: 25%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d2f0fa;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}
.data_science:hover {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.img {
  padding-top: 10px;
  gap: 3px;
}
.data_science:hover .img {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.d_science {
  display: block;
  width: 65px;
  height: 65px;
}
.masai_one_logo {
  height: 30px;
  margin-left: 5px;
}
.data_science > h1 {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 21px;
  margin-top: 20px;
}
.data_science:hover > h1 {
  font-size: 34px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
.data_science > h1 > span {
  font-size: 13px;
  opacity: 0.6;
}
.data_science:hover > h1 > span {
  display: none;
}
.data_science .ul_btn_container {
  display: none;
}
.data_science:hover .ul_btn_container {
  display: block;
}
.ul_btn_container > ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul_btn_container > ul > li {
  width: 80%;
  background-image: url("Utilities/correct_icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
.btn_container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.enroll_btn {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ec0331;
}
.d_science_btn_arrow {
  cursor: pointer;
  background-color: #d2f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.d_science_btn_arrow:hover {
  background-color: rgb(249, 219, 224);
  padding-right: 10px;
  border-radius: 10px;
}
.d_science_btn_arrow > button {
  background-color: #d2f0fa;
  color: #c31f39;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding-left: 15px;
}
.d_science_btn_arrow:hover > button {
  background-color: rgb(249, 219, 224);
}
.d_science_btn_arrow > img {
  height: 17px;
}

/* Data Science part end here. */

/* Digital marketing part start from here. */

.digital_marketing {
  grid-area: digital_marketing;
  width: 25%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  background-color: #fdeee7;
  border-radius: 15px;
}
.digital_marketing:hover {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.img {
  padding-top: 10px;
  gap: 3px;
}
.digital_marketing:hover .img {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.d_marketing {
  display: block;
  width: 65px;
  height: 65px;
}
.masai_two_logo {
  height: 30px;
  margin-left: 5px;
}
.digital_marketing > h1 {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 21px;
  margin-top: 20px;
}
.digital_marketing:hover > h1 {
  font-size: 34px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
.digital_marketing > h1 > span {
  font-size: 13px;
  opacity: 0.6;
}
.digital_marketing:hover > h1 > span {
  display: none;
}

.digital_marketing .ul_btn_container {
  display: none;
}
.digital_marketing:hover .ul_btn_container {
  display: block;
}
.ul_btn_container > ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul_btn_container > ul > li {
  width: 80%;
  background-image: url("Utilities/correct_icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
.btn_container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.enroll_btn {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ec0331;
}
.digital_btn_arrow {
  cursor: pointer;
  background-color: #fdeee7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.digital_btn_arrow:hover {
  background-color: rgb(249, 219, 224);
  padding-right: 10px;
  border-radius: 10px;
}
.digital_btn_arrow > button {
  background-color: #fdeee7;
  color: #c31f39;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding-left: 15px;
}
.digital_btn_arrow:hover > button {
  background-color: rgb(249, 219, 224);
}
.digital_btn_arrow > img {
  height: 17px;
}

/* Digital marketing part end here. */

/* Business analytics part start from here. */

.business_analytics {
  grid-area: business_analytics;
  width: 25%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  transition: width 0.7s ease-in-out;
  background-color: #fef1de;
  border-radius: 15px;
}
.business_analytics:hover {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.img {
  padding-top: 10px;
  gap: 3px;
}
.business_analytics:hover .img {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.buss_analytics {
  display: block;
  width: 65px;
  height: 65px;
}
.masai_two_logo {
  height: 30px;
  margin-left: 5px;
}
.business_analytics > h1 {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 21px;
  margin-top: 20px;
}
.business_analytics:hover > h1 {
  font-size: 34px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
.business_analytics > h1 > span {
  font-size: 13px;
  opacity: 0.6;
}
.business_analytics:hover > h1 > span {
  display: none;
}

.business_analytics .ul_btn_container {
  display: none;
}
.business_analytics:hover .ul_btn_container {
  display: block;
}
.ul_btn_container > ul {
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul_btn_container > ul > li {
  width: 80%;
  background-image: url("Utilities/correct_icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}
.btn_container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.enroll_btn {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ec0331;
}
.business_btn_arrow {
  cursor: pointer;
  background-color: #fef1de;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.business_btn_arrow:hover {
  background-color: rgb(249, 219, 224);
  padding-right: 10px;
  border-radius: 10px;
}
.business_btn_arrow > button {
  background-color: #fef1de;
  color: #c31f39;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding-left: 15px;
}
.business_btn_arrow:hover > button {
  background-color: rgb(249, 219, 224);
}
.business_btn_arrow > img {
  height: 17px;
}

/* Business analytics part end here. */

/* course part end here. */

/* winning part start from here. */

.win_container {
  max-width: 100%;
  max-height: 100%;
  background-color: #fbfbfb;
}
.win_up_heading {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-top: 20px;
}
.win_up_heading > h1 > span {
  color: #c03a45;
}
.win_card_container {
  width: 100%;
  max-height: 100%;
  padding: 40px 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "win_card1 win_card2 win_card3";
  gap: 40px;
}
.win_card1 {
  grid-area: win_card1;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(to right, #bfd1ff, #f0f6ff);
}
.win_card1 > img {
  margin-bottom: 10px;
}
.win_card1_content > h1 {
  font-size: 20px;
  font-weight: 700;
}
.win_card1_content > p {
  color: rgb(108, 103, 104);
}
.win_card2 {
  grid-area: win_card2;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(to right, #fff2c0, #fefbea);
}
.win_card2 > img {
  margin-bottom: 10px;
}
.win_card2_content > h1 {
  font-size: 20px;
  font-weight: 700;
}
.win_card2_content > p {
  color: rgb(108, 103, 104);
}
.win_card3 {
  grid-area: win_card3;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(to right, #d1ebdf, #f1faf7);
}
.win_card3 > img {
  margin-bottom: 10px;
}
.win_card3_content > h1 {
  font-size: 20px;
  font-weight: 700;
}
.win_card3_content > p {
  color: rgb(108, 103, 104);
}
/* winning part end here. */

/* career part start from here. */

.career_container {
  max-width: 100%;
  max-height: 100%;
  padding: 50px 130px 50px 130px;
  background-color: #fffdf6;
}
.career_up_heading {
  text-align: center;
}
.career_up_heading > h1 {
  font-size: 48px;
  font-weight: 700;
}
.career_up_heading > h1 > span {
  color: #bd3946;
}
.company_container {
  width: 100%;
  max-height: 100%;
  display: flex;
}

/* lpa_detail part start from here. */
.lpa_detail {
  width: 50%;
  margin-top: 50px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "placed_students average_ctc"
    "highest_ctc salary_growth";
  row-gap: 60px;
}
.placed_students {
  grid-area: placed_students;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placed_students > p {
  text-align: center;
}
.num_symbol {
  display: flex;
  align-items: center;
  gap: 20px;
}
.num_symbol > h1 {
  font-size: 64px;
}
.num_symbol > h2 {
  color: #f54550;
  font-size: 64px;
}
.average_ctc {
  grid-area: average_ctc;
  margin: auto;
}
.average_ctc > h1 {
  font-size: 64px;
}
.average_ctc > h1 > span {
  color: #f54550;
}
.average_ctc > p {
  text-align: center;
}
.highest_ctc {
  grid-area: highest_ctc;
  margin: auto;
}
.highest_ctc > h1 {
  font-size: 64px;
}
.highest_ctc > h1 > span {
  color: #f54550;
}
.highest_ctc > p {
  text-align: center;
}
.salary_growth {
  grid-area: salary_growth;
  margin: auto;
}
.salary_growth > h1 {
  font-size: 64px;
}
.salary_growth > h1 > span {
  color: #f54550;
}
.salary_growth > p {
  text-align: center;
}
/* lpa_detail part end here. */

/* company logo part start from here. */

.company_logo_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.company_logo_container > h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 75px;
}
.company_logo_container > h1 > span {
  color: #f3464d;
}
.company_img_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.up_img {
  width: 100%;
  display: flex;
  gap: 15px;
}
.ola_img {
  height: 40px;
}
.lower_img_container {
  display: flex;
  gap: 18px;
}
.Hogarth_Studios {
  height: 50px;
}
/* company logo part end here. */

/* career part end here. */

/* story part start from here. */

.stories_section_container {
  width: 100%;
  height: 880px;
  background-color: #f9f9f9;
  padding: 50px 130px 0 130px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.up_story {
  width: 100%;
  height: 50%;
  display: flex;
}
.up_story_left {
  width: 50%;
  height: 100%;
  padding-top: 60px;
}
.up_story_left > h1 {
  width: 90%;
  font-size: 36px;
  font-weight: 800;
  color: rgb(32, 39, 44);
}
.up_story_left > p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(84, 77, 79);
}
.up_story_left > button {
  font-size: 15px;
  font-weight: 600;
  border: 1px solid red;
  border-radius: 7px;
  outline: none;
  padding: 15px 17px;
  margin-top: 30px;
  background-color: #f9f9f9;
  color: rgb(237, 3, 49);
}
.up_story_left > button:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgb(248, 226, 230);
}
.up_story_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.up_story_right > video {
  height: 345px;
  width: 97%;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  outline: none;
}

/* story card part start from here. */

.story_lower_container {
  width: 100%;
  height: 50%;
}
.story_card_container {
  width: 100%;
  display: flex;
  gap: 30px;
  /* overflow: auto; */
}
.story_card1 {
  width: 440px;
  height: 250px;
  padding: 25px;
  font-size: 15px;
  grid-area: story_card1;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ece7e7, -2px -1px 2px #ece7e7, -2px 2px 2px #ece7e7,
    2px -1px 2px #ece7e7;
}
.story_card1_head {
  font-weight: 600;
}
.story_card1_head > p > span {
  font-weight: normal;
}
.story_card1_mid_lower {
  padding: 20px 0 20px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.story_card1_mid_lower > p {
  line-height: 1.7;
}
.h_p > h4 {
  font-weight: 600;
  font-size: 14px;
}
.h_p > p {
  margin-top: 3px;
  font-size: 12px;
}
.story_card2 {
  width: 440px;
  height: 250px;
  padding: 25px;
  font-size: 16px;
  grid-area: story_card2;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ece7e7, -2px -1px 2px #ece7e7, -2px 2px 2px #ece7e7,
    2px -1px 2px #ece7e7;
}
.story_card2_head > img {
  height: 35px;
}
.story_card2_mid_lower {
  padding: 0px 10px 20px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.story_card2_mid_lower > p {
  line-height: 1.7;
  width: 98%;
}
.story_card3 {
  width: 440px;
  height: 250px;
  padding: 25px;
  font-size: 15px;
  grid-area: story_card3;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ece7e7, -2px -1px 2px #ece7e7, -2px 2px 2px #ece7e7,
    2px -1px 2px #ece7e7;
}
.story_card3_head > img {
  height: 35px;
}
.story_card3_mid_lower {
  padding: 0px 10px 20px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.story_card3_mid_lower > p {
  line-height: 1.7;
  width: 98%;
}
/* .story_card4{
  width: 440px;
  height: 250px;
  padding: 30px;
  font-size: 15px;
  grid-area: story_card4;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ece7e7,-2px -1px 2px #ece7e7,-2px 2px 2px #ece7e7,2px -1px 2px #ece7e7;
}
.story_card5{
  width: 440px;
  height: 250px;
  padding: 30px;
  font-size: 15px;
  grid-area: story_card5;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ece7e7,-2px -1px 2px #ece7e7,-2px 2px 2px #ece7e7,2px -1px 2px #ece7e7;
} */

.story_arrow_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}
.story_arrow_container > a {
  text-decoration: none;
  color: rgb(237, 3, 49);
  font-weight: 500;
}
.story_arrow_container > a:hover {
  text-decoration: underline;
}

/* story card part end here */

/* story part end here. */

/* achievement part start from here. */

.achievement_section {
  width: 100%;
  height: 420px;
  padding: 35px;
}
.achievement_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "achieve_left achieve_right";
  background-color: #edf8fa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.achieve_left {
  grid-area: achieve_left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px 30px 50px;
}
.achieve_left > h1 {
  width: 80%;
  font-size: 36px;
  font-weight: 800;
  color: rgb(10, 1, 3);
}
.achieve_left > h1 > span {
  color: #cb1e32;
}
.achieve_left>p{
  line-height: 32px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(84, 77, 79);
}
.achieve_left > img {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f9fffd;
}
.achieve_left > img{
  transition: all 0.2s linear;
}
.achieve_left:hover > img {
  transform: rotate(-50deg);
}
.achieve_right {
  grid-area: achieve_right;
  height: 100%;
  width: 100%;
  background-image: url("./Utilities/achieve_bg_image.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px 0 25px 0;
}
.achieve_img_container{
  display: flex;
  gap: 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.achieve_img_container>img{
  max-height: 100%;
  max-width: 40%;
  border-radius: 15px; 
}


/* achievement part end here. */
/* ==> main part end here. ==>*/
